<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sungshin.bookstorming">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Apptest"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookstorming"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".WebbrowserActivity"
            android:exported="false" />

        <receiver
            android:name=".broadCastRece"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".TabHostActivity"
            android:exported="true"
            android:theme="@style/Theme.Bookstorming" />
        <activity android:name=".RealReviewActivity" />
        <activity
            android:name=".LoginActivity2"
            android:exported="true" />
        <activity android:name=".ChatActivity_review" />
        <activity android:name=".StartActivity_review" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".RegisterActivity2" />
        <activity
            android:name=".GalleryActivity"
            android:exported="true" />
        <activity android:name=".ThemeUtil" />
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>